@import "tailwindcss";

:root {
    --ea-dark: #011627;
    --ea-white: #f4f3ee;
    --ea-brown: #3b341f;
    --ea-red: #e71d36;
}

@theme {
    --font-heal: var(--font-heal-the-web-a), sans-serif;
    --color-ea-dark: var(--ea-dark);
    --color-ea-white: var(--ea-white);
    --color-ea-brown: var(--ea-brown);
    --color-ea-red: var(--ea-red);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-now-alt);
    --font-mono: var(--font-now-alt);
}

html {
    font-size: 18px; /* Smaller base for mobile */
}

@media (min-width: 768px) {
    html {
        font-size: 20px; /* Larger on desktop */
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 24px; /* Your target size on large screens */
    }
}

body {
    background: var(--ea-white);
    color: var(--ea-dark);
    font-family: var(--font-now-alt), Arial, Helvetica, sans-serif;
}
